.prototype-panel {
  border-radius: 5px;
  height: 600px;
  will-change: transform;

  .header {
    background-color: #2b092b;
    height: 50px;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .dot {
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin: 0 5px;

      &:first-child {
        margin-left: 25px;
      }
      &.red { background-color: #ff6059;}
      &.yellow { background-color: #ffbe2f;}
      &.green { background-color: #2aca41;}
    }
  }

  .content {
    display: grid;
    grid-template-columns: 230px auto;
    grid-template-rows: 1fr;

    .left-tab {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #791984;
    }

    .right-tab {
      display: block;
      background-color: #FFFFFF;
      padding: 20px;

      .chat-box {
        border-radius: 5px;
        border: 1px solid #000000;
        padding: 10px;
        display: flex;
        align-items: center;

        svg {
          height: 18px;
          width: 18px;
        }

        span {
          display: block;
          height: 20px;
          width: 2px;
          background-color: rgba(128, 128, 128, 0.5);
          margin: 0 5px;
        }
      }
    }
  }
}