.landing-page {
  background-image: url("../../assests/bg-img.png");
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: top;
  min-height: 100vh;
  background-color: #4a154b;
  position: relative;
  //background-color: #2aca41;
}

