.landing-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  .MuiTypography-root {
    letter-spacing: -2px;

    p {
      display: inline-block;
      margin: 0 8px;
      color: #ff8c00ff;
      font-size: 3rem;
      line-height: 1.167;
      font-weight: 700;
    }
  }

  .try-btn {
    padding: 15px 40px;
    margin-top: 30px;
    color: #4a154b !important;
  }

  .prototype-tab {
    position: absolute;
    top: 300px;
    margin-top: 20px;
    min-width: 800px;
    border-radius: 5px;

    .header {
      background-color: #2b092b;
      height: 50px;
      border-radius: 5px 5px 0 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      .dot {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0 5px;

        &:first-child {
          margin-left: 25px;
        }
        &.red { background-color: #ff6059;}
        &.yellow { background-color: #ffbe2f;}
        &.green { background-color: #2aca41;}
      }
    }

    .content {
      display: grid;
      grid-template-columns: 230px auto;
      grid-template-rows: 1fr;
      //min-height: 300px;

      .left-tab {
        display: block;
        background-color: #791984;
      }

      .right-tab {
        display: block;
        background-color: #FFFFFF;
        padding: 20px;

        .item {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          margin-bottom: 20px;

          .icon {
            width: 80px;
            height: 80px;
            border-radius: 8px;
            video {
              border-radius: 8px;
            }
            img {
              width: 80px;
              height: 80px;
              border-radius: 8px;
            }
          }
          .message {
            margin-left: 20px;
            font-size: 1.5rem;
            text-align: left;
            letter-spacing: -1px;
            color: #1d1d1d;
          }
          .reaction {
            grid-column-start: 2;
            grid-column-end: 3;

            span {
              margin: 10px 0 0 20px;
              border-radius: 20px;
              background-color: rgba(170, 170, 170, 0.2);
              padding: 8px 15px;
              display: inline-flex;
              justify-content: center;
              align-items: center;

              svg {
                color: #ffbe2f;
              }

              b {
                margin: 0 10px;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}