.first-section.parallax-section {
  .grid {
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    width: 100%;
    padding: 0 20px;

    .grid-left {
      transform: translate(0px, 0px);

      .MuiTypography-root {
        letter-spacing: -2px;
      }

      .MuiGrid-container {
        height: inherit !important;
      }
    }

    .grid-right {
      align-items: center;

      .direct-message {
        display: flex;
        justify-content: center;
        color: darkgray;
        font-size: 18px;
        padding: 20px 0 10px 0;
        box-shadow: 0 2px 4px -3px rgba(0,0,0,0.2), 0 0 0 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
        width: 100%;
      }
    }
  }
}